.calendar-base {
  width: 280px;
  .hr {
    border-bottom: 1px transparent solid;
    margin: 1px 0;
  }
  .day {
    font-size: 12px;
    box-sizing: content-box;
    $height: 30px;
    display: inline-block;
    width: 40px;
    height: $height;
    text-align: center;
    line-height: $height;
    &:hover {
      color: $primary-color;
    }
  }
  .gary {
    color: $grey-80;
  }
}