.dht-color-picker {
  padding: 10px;
  $width: 240px;
  background: $white;
  .fixed-color {
    margin-bottom: 8px;
    width: $width;
    line-height: 0;
    .fixed-color-li {
      margin: -1px -1px 0 0;
      width: 21px;
      height: 21px;
      display: inline-block;
      border: $border-1 1px solid;
    }
  }
  .color-board {
    width: $width;
    .slider {
      width: 8px;
      height: 20px;
      position: absolute;
      background: $white;
      box-shadow: $box-shadow;
    }
    .board {
      width: 100%;
      height: 200px;
      position: relative;
      background: transparent;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      // 饱和度 一条从左往右，由纯白到透明的径向渐变
      &::before {
        background: linear-gradient(to right, $white, transparent);
      }
      // 明度 一条从下往上，由纯黑到透明的径向渐变
      &::after {
        background: linear-gradient(to top, $black, transparent);
      }
      .board-point {
        position: absolute;
        z-index: 1;
        width: 10px;
        height: 10px;
        background-color: transparent;
        border-radius: 50%;
        border: 2px solid $white;
        box-shadow: $box-shadow;
      }
    }
    // 颜色条子
    .color-adjust {
      width: 100%;
      height: 20px;
      margin: 10px 0;
      background: linear-gradient(
        to right,
        #f00 0%,
        #ff0 16.66%,
        #0f0 33.33%,
        #0ff 50%,
        #00f 66.66%,
        #f0f 83.33%,
        #f00 100%
      );
      .color-slider {
        @extend .slider;
      }
    }
    // 透明板子
    .alpha {
      width: 100%;
      height: 20px;
      background-color: $white;
      background-image: linear-gradient(
          45deg,
          $grey-90 25%,
          transparent 0,
          transparent 75%,
          $grey-90 0,
          $grey-90
        ),
        linear-gradient(45deg, $grey-90 25%, transparent 0, transparent 75%, $grey-90 0, $grey-90);
      background-size: 10px 10px;
      background-position: 0 0, 5px 5px;
      .alpha-slider {
        @extend .slider;
      }
    }
  }
  .color-show {
    display: flex;
    align-items: center;
    margin-top: 8px;
    justify-content: space-between;
    .confirm-color {
      color: $primary-color;
      &:active {
        color: $primary-6;
      }
    }
  }
}
