@import "./scss/generateColor";
// 总体颜色
$main-color: #faad14; // 主颜色
$black-main: #8c8c8c;

$primary-1: generateColor($main-color, 5, true);
$primary-2: generateColor($main-color, 4, true);
$primary-3: generateColor($main-color, 3, true);
$primary-4: generateColor($main-color, 2, true);
$primary-5: generateColor($main-color, 1, true);
$primary-color: $main-color;
$primary-6: generateColor($main-color, 1, false);
$primary-7: generateColor($main-color, 2, false);
$primary-8: generateColor($main-color, 3, false);
$primary-9: generateColor($main-color, 4, false);
// 黑色系
$white: #ffffff;
$black-1: generateColor($black-main, 5, true);
$black-2: generateColor($black-main, 4, true);
$black-3: generateColor($black-main, 3, true);
$black-4: generateColor($black-main, 2, true);
$black-5: generateColor($black-main, 1, true);
$black-6: generateColor($black-main, 1, false);
$black-7: generateColor($black-main, 2, false);
$black-8: generateColor($black-main, 3, false);
$black-9: generateColor($black-main, 4, false);
$black: #000000;
// 阴影部分
$shadow-1: rgba(0, 0, 0, 0.1);
$shadow-5: rgba(0, 0, 0, 0.5);
$box-shadow: 0 0 6px 0 $primary-color;
// 实验css modele导出
:export {
  // 主颜色
  primary-1: $primary-1;
  primary-2: $primary-2;
  primary-3: $primary-3;
  primary-4: $primary-4;
  primary-5: $primary-5;
  primary-color: $primary-color;
  primary-6: $primary-6;
  primary-7: $primary-7;
  primary-8: $primary-8;
  primary-9: $primary-9;
  // 黑色变化
  black-main: $black-main;
  white: $white;
  black-1: $black-1;
  black-2: $black-2;
  black-3: $black-3;
  black-4: $black-4;
  black-5: $black-5;
  black-6: $black-6;
  black-7: $black-7;
  black-8: $black-8;
  black-9: $black-9;
  black: $black;
}