.dht-cascade {
  width: 240px;
  height: 40px;
  border: 1px solid $border-1;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.dht-cascade-check {
  border: 1px solid $primary-color;
}
.dht-cascade-tooltip {
  background: $white;
  width: 180px;
  height: 40px;
}